.aboutMeHeader{
    font-size: 40px;
    padding-top: 10px;
}

.col-12 {
    background: #373737;
    color: white;
    width: 100%;
    text-align: center;
    font-family: var(--font-two);
}

.info {
    text-align: center;
    font-family: var(--font-two);
    font-size: 20px;
    color: white;
    margin-top: 0;
  
}


.info a{
    color: rgb(0,180,98);
}