footer {
    background: white;
    text-align: center;
    font-family: var(--font-four);
    color: black;
    width: 100%;
}

#linkedIn-icon {
    height: 3vw;
    width: 3vw;
    margin-left: 16vw;
    margin-bottom: 0.5vw;
}

#facebook-icon {
    height: 3vw;
    width: 3vw;
    margin-bottom: 0.5vw;
}

#twitter-icon {
    height: 3vw;
    width: 3vw;
    margin-bottom: 0.5vw
}

#instagram-icon {
    height: 3vw;
    width: 3vw;
    margin-bottom: 0.5vw
    /* background: white;
    border-radius: 17px;
    overflow: hidden;  */
}

#github-icon {
    height: 3vw;
    width: 3vw;
    margin-bottom: 0.5vw
}

.footerLink a{
    color: black;
}