#jumboStyle {
    background: url("../assets/lifeinspace.jpeg") no-repeat center;
    background-size: cover;
    color: #6a00b2;
    text-align: center;
    height: 475px;
    font-family: var(--font-four);
    margin-bottom: 0;
    border-bottom: 5px solid var(--purple);
    padding-top: 10px;
    position: relative;
    width: 100%;
    padding-top: 10%;
}

#greeting {
    font-size: 50px;
}

#myName {
    font-size: 100px;
    margin-top: 50px;
    animation-name: fadeIn;
}

