.containerProjects {
    background-color: white;
    height: 400px;
    width: 100%;
    margin-top: 0;
}

#projects {
    text-align: center;
    background-color: white;
    font-size: 50px;
    color: var(--purple);
    padding-bottom: 20px;
    padding-top: 10px;
}

#projectPic {
    overflow: hide;
    height: 175px;
    width: 175px;
    border-radius: 50%;
}

#projectPic2 {
    overflow: hide;
    height: 175px;
    width: 290px;
    border-radius: 20%;
}

#projectPic3 {
    overflow: hide;
    height: 175px;
    width: 175px;
    border-radius: 50%;
}


#firstProject{
    margin-top: 55px;
    text-align: center;
}

#firstProject a{
    color: #6a00b2;
    font-size: 20px;
    font-family: var(--font-four);
}

#secondProject{
    text-align: center;
    margin-top: 55px;
}

#secondProject a{
    color: #6a00b2;
    font-size: 20px;
    font-family: var(--font-four);
}

#thirdProject{
    margin-top: 55px;
    text-align: center;
}

#thirdProject a{
    color: #6a00b2;
    font-size: 20px;
    font-family: var(--font-four);
}