table {
    margin-top: 50px;
}

#js {
    height: 125px;
    width: 250px;
}

#html {
    height: 125px;
    width: 145px;
    margin-right: 20px;
}

#css {
    height: 125px;
    width: 200px;
}

#react {
    height: 125px;
    width: 250px;
    margin-top: 30px;
    
}
