table {
    margin-top: 3em;
    margin-right: 8em;
}

#js {
    height: 8vw;
    width: 16vw;
}

#html {
    height: 7vw;
    width: 8vw;
    margin-right: 3vw;
}

#css {
    height: 7vw;
    width: 8vw;
}

#react {
    height: 7vw;
    width: 7vw;
    margin-top: 1vw;
    margin-left: 4.5vw;
}

#angular {
    height: 9vw;
    width: 9vw;
    margin-top: 1vw;
    margin-left: -0.5vw;
}

#node {
    height: 7vw;
    width: 7vw;
    margin-top: 1vw; 
    margin-left: 0.8vw;
}
